<h1 class="my-name">
    <span class="my-name__forename">The</span>
    <span class="my-name__surname">
        <span>Whorshop</span><span><span>-</span></span><span>S<span>t</span><span>u</span><span>di</span><span>o</span></span>
    </span>
</h1>