<h1 class="my-name">
    <span class="my-name__forename">Claudia</span>
    <span class="my-name__surname">
        <span>Garcia</span><span><span>-</span></span><span>Va<span>r</span><span>e</span><span>l</span><span>a</span></span>
    </span>
</h1>