<section id="projects">
    <p class="about-bio">{{ site.workshopIntro.paragraph1 }}</p>
    <p class="about-bio">{{ site.workshopIntro.paragraph2 }}</p>
    
    {% include "components/author-name.njk" %}
</section>
