<figure>
    <img class="{{ image.classes }}" src="{{ image.src }}" alt="{{ image.alt }}">
    {% if image.caption %}<figcaption class="{{ image.caption.class }}"><span>{{ image.caption.text }}</span></figcaption>{% endif %}
</figure>