---
layout: layouts/base.njk
bodyClass: home
---

<div class="home-wrapper">
    <div class="sections-wrapper">
        {{ content | safe }}
    </div>
    <!-- <div class="banner">
        <span><span class="flag">🇩🇰</span>Looking for roles in Copenhagen</span>
    </div> -->
</div>